<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category  Oro
 * @package   Oro_CrmIntegration
 * @copyright Copyright 2016 Oro Inc. (http://www.orocrm.com)
 */
-->
<config>
    <modules>
        <Oro_CrmIntegration>
            <version>0.1.0</version>
        </Oro_CrmIntegration>
    </modules>
    <global>
        <models>
            <oro_crmintegration>
                <class>Oro_CrmIntegration_Model</class>
            </oro_crmintegration>
            <customer>
                <rewrite>
                    <api2_customer_rest_admin_v1>Oro_CrmIntegration_Model_Api2_Customer_Rest_Admin_V1</api2_customer_rest_admin_v1>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <oro_crmintegration>
                <class>Oro_CrmIntegration_Helper</class>
            </oro_crmintegration>
        </helpers>
        <api2>
            <auth_adapters>
                <admintoken module="oro_crmintegration" translate="label">
                    <model>oro_crmintegration/api2_auth_adapter_admintoken</model>
                    <label>Admin token</label>
                    <enabled>1</enabled>
                    <order>10</order>
                </admintoken>
            </auth_adapters>
        </api2>
        <resources>
            <oro_crmintegration>
                <setup>
                    <module>Oro_CrmIntegration</module>
                </setup>
            </oro_crmintegration>
        </resources>
    </global>
</config>
